body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}



.board-view {
  background-color: white;
  height: 100%;
  width: 100%;
}
.subitem {
  background-color: gray;
}
.tab-header {
  display: flex;
  align-items: center;
}
.tab-header h3 {
  order: 2;
  padding-left: 1em;
}
.tab-header span {
  cursor: pointer;
}


tr {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}
th {
  border: 1px solid black;
}